:root {
  $color-primary: #7ed56f;
  $color-primary-light: #55c57a;
  $color-primary-dark: red;
  $color-grey-dark: #777;
  $color-black: #000;
  $color-white: #f1efef;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  font-size: 1.6rem;
  color: $color-grey-dark;
  padding: 1rem;
  box-sizing: border-box;
}

.header {
  background-color: $color-grey-dark;
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.4),
      rgba($color-primary-dark, 0.9)
    ),
    url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 78%, 0% 100%);
  position: relative;
  background-color: red;

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
    background-color: red;
  }
}

// .header__text-box {
//   position: absolute;
//   top: 40%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   text-align: center;
// }
// .heading-primary {
//   color: $color-white;
//   text-transform: uppercase;
//   margin-bottom: 3rem;
// }
// .heading-primary--main {
//   display: block;
//   font-size: 6rem;
//   font-weight: 400;
//   letter-spacing: 3.5rem;
//   animation: ease-out moveInRight 2s;
// }
// .heading-primary--sub {
//   display: block;
//   font-size: 2rem;
//   font-weight: 700;
//   letter-spacing: 1.75rem;
//   animation-name: moveInLeft;
//   animation-duration: 2s;
// }
// @keyframes moveInLeft {
//   0% {
//     opacity: 0;
//     transform: translateX(-100rem);
//   }
//   50% {
//     transform: translateX(10rem);
//   }
//   100% {
//     opacity: 1;
//     transform: translateX(0);
//   }
// }
// @keyframes moveInRight {
//   0% {
//     opacity: 0;
//     transform: translateX(100rem);
//   }
//   50% {
//     transform: translateX(-10rem);
//   }
//   100% {
//     opacity: 1;
//     transform: translateX(0);
//   }
// }
// .btn:link,
// .btn:visited {
//   text-decoration: none;
//   text-transform: uppercase;
//   padding: 1.5rem 4rem;
//   border-radius: 10rem;
//   display: inline-block;
//   transition: all 0.2s;
//   position: relative;
// }
// .btn:hover {
//   transform: translateY(-3px);
//   box-shadow: 0 0.5rem 1rem rgba($color-black 0.2);
// }
// .btn:active {
//   transform: translateY(-1px);
// }
// .btn--white {
//   background-color: #fff;
//   color: $color-grey-dark;
// }
// .btn::after {
//   content: "";
//   display: inline-block;
//   height: 100%;
//   width: 100%;
//   border-radius: 10rem;
//   position: absolute;
//   top: 0;
//   left: 0;
//   z-index: -1;
//   transition: all 0.4s;
// }
// .btn-white::after {
//   background-color: $color-white;
// }
// .btn:hover::after {
//   transform: scale(1.6);
//   opacity: 0;
// }
