@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  padding: 2rem;
  color: #838383;
}

.heading-secondary, .footer-items {
  font-size: 3.5rem;
  text-transform: uppercase;
  background: linear-gradient(to right, #7ed56f, #28b485);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all 0.2s;
}
.heading-secondary:hover, .footer-items:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.6);
}

.footer-items {
  font-size: 1.6rem;
}

.heading-terriary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
}
.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-large {
  margin-bottom: 8rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.u-margin-top-medium {
  margin-top: 4rem;
}

.u-padding-top-large {
  padding-top: 100px;
}

.u-line {
  border-bottom: 2px solid #28b485;
}

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -10vh;
}

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #28b485, #7ed56f);
}

.book {
  background-image: linear-gradient(105deg, rgba(247, 247, 247, 0.9) 0%, rgba(247, 247, 247, 0.9) 50%, rgba(40, 180, 133, 0.1) 50%), url(../../img/nat-10.jpg);
  background-size: 100%;
  height: 50rem;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem #5a5a5a;
}
.book_form {
  width: 50%;
  padding: 3rem;
}

.btn--white {
  color: #5a5a5a;
  text-decoration: none;
  font-size: 3rem;
  background-color: aliceblue;
  padding: 1rem 3rem;
  display: inline-block;
  border-radius: 100px;
  margin-top: 2rem;
}
.btn--white:hover {
  transform: scale(1.3);
  transition: 0.6s;
}

.btn--green {
  color: white;
  border: none;
  background-color: #28b485;
  font-size: 2rem;
  padding: 1.5rem 2rem;
  border-radius: 5px;
}

.btn-text:link, .btn-text:visited {
  color: #28b485;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #28b485;
  padding: 1rem;
  font-size: 1.6rem;
  transition: all 0.2s;
}
.btn-text:hover {
  background-color: #28b485;
  color: aliceblue;
  box-shadow: 0 1rem 2rem rgba(90, 90, 90, 0.3);
  transform: translateY(-5px);
}
.btn-text:active {
  box-shadow: 0 1rem 2rem rgba(90, 90, 90, 0.3);
  transform: translateY(0);
}

.composition {
  position: relative;
}
.composition__photo {
  box-shadow: 0 1.5rem 4rem rgba(90, 90, 90, 0.4);
  position: absolute;
  width: 55%;
  z-index: 10;
  transition: all 0.2s;
  outline-offset: 2rem;
}
.composition__photo--p1 {
  left: 0;
  top: -2rem;
}
.composition__photo--p2 {
  right: 0;
  top: 2rem;
}
.composition__photo--p3 {
  left: 20%;
  top: 10rem;
}
.composition__photo:hover {
  outline: 1.5rem solid #28b485;
  transform: scale(1.05) translateY(-5px);
  box-shadow: 0 2.5rem 4rem rgba(90, 90, 90, 0.6);
  z-index: 20;
}
.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.9);
}

.section-features {
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../../img/nat-4.jpg);
  -webkit-clip-path: polygon(0 30%, 100% 0, 100% 70%, 0 100%);
          clip-path: polygon(0 30%, 100% 0, 100% 70%, 0 100%);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}
.section-features .column-4 {
  padding: 5px;
}
.section-features .column-4 .col-1-of-4 {
  width: 100%;
  height: 40rem;
  background-color: rgba(240, 248, 255, 0.65);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
}
.section-features .column-4 .col-1-of-4 i {
  font-size: 5rem;
  color: #28b485;
}
.section-features .column-4 .col-1-of-4 h4 {
  text-transform: uppercase;
  text-align: center;
}
.section-features .column-4 .col-1-of-4:hover {
  transform: translateY(-3rem) scale(1.03);
  transition: 0.5s;
}
.section-features .column-4 .col-1-of-4 p {
  text-align: justify;
}

.section-popular-tours .col-1-of-3 {
  width: 35rem;
  height: 50rem;
  position: relative;
  transform-style: preserve-3d;
  transform: perspective(1000px) rotateY(0);
}
.section-popular-tours .col-1-of-3:hover .face.front {
  transform: perspective(1000px) rotateY(180deg);
}
.section-popular-tours .col-1-of-3:hover .face.back {
  transform: perspective(1000px) rotateY(360deg);
}
.section-popular-tours .col-1-of-3 .face {
  position: absolute;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 2s ease-in-out;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  box-shadow: 0 10px 10px 0px;
}
.section-popular-tours .col-1-of-3 .face.front {
  background-color: white;
  display: flex;
  flex-direction: column;
}
.section-popular-tours .col-1-of-3 .face.front .tours-header {
  width: 100%;
  height: 50%;
  position: relative;
}
.section-popular-tours .col-1-of-3 .face.front .tours-header-image {
  width: 100%;
  height: 100%;
}
.section-popular-tours .col-1-of-3 .face.front .tours-header .image-header {
  position: absolute;
  bottom: 10px;
  right: 0;
}
.section-popular-tours .col-1-of-3 .face.front .tours-header .image-header P {
  color: white;
  text-transform: uppercase;
  font-size: 3rem;
  padding: 0.5rem 1rem;
}
.section-popular-tours .col-1-of-3 .face.front .tours-header .header-card--1 p {
  background: linear-gradient(to top, rgba(255, 187, 0, 0.5), rgba(255, 120, 48, 0.3));
}
.section-popular-tours .col-1-of-3 .face.front .tours-header .header-card--2 p {
  background: linear-gradient(to top, rgba(21, 220, 21, 0.5), rgba(12, 195, 12, 0.3));
}
.section-popular-tours .col-1-of-3 .face.front .tours-header .header-card--3 p {
  background: linear-gradient(to top, rgba(48, 183, 246, 0.5), rgba(48, 183, 246, 0.3));
}
.section-popular-tours .col-1-of-3 .face.front .tours-header .image-bg {
  background-position: center;
  background-size: cover;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 80%, 0% 100%);
          clip-path: polygon(0 0, 100% 0%, 100% 80%, 0% 100%);
}
.section-popular-tours .col-1-of-3 .face.front .tours-header .image-1 {
  background-image: linear-gradient(to top, rgba(255, 187, 0, 0.5), rgba(255, 120, 48, 0.3)), url(../img/nat-5.jpg);
}
.section-popular-tours .col-1-of-3 .face.front .tours-header .image-2 {
  background-image: linear-gradient(to top, rgba(21, 220, 21, 0.5), rgba(12, 195, 12, 0.3)), url(../img/nat-6.jpg);
}
.section-popular-tours .col-1-of-3 .face.front .tours-header .image-3 {
  background-image: linear-gradient(to top, rgba(48, 183, 246, 0.5), rgba(48, 183, 246, 0.3)), url(../img/nat-7.jpg);
}
.section-popular-tours .col-1-of-3 .face.front .tours-content {
  width: 100%;
  height: 50%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-popular-tours .col-1-of-3 .face.front .tours-content p {
  padding: 0.5rem;
}
.section-popular-tours .col-1-of-3 .face.back {
  transform: perspective(500px) rotateY(180deg);
}
.section-popular-tours .col-1-of-3 .face.back.back-card--1 {
  background: linear-gradient(to top, rgba(255, 187, 0, 0.5), rgba(255, 120, 48, 0.3));
}
.section-popular-tours .col-1-of-3 .face.back.back-card--2 {
  background: linear-gradient(to top, rgba(21, 220, 21, 0.5), rgba(12, 195, 12, 0.3));
}
.section-popular-tours .col-1-of-3 .face.back.back-card--3 {
  background: linear-gradient(to top, rgba(48, 183, 246, 0.5), rgba(48, 183, 246, 0.3));
}
.section-popular-tours .col-1-of-3 .face.back .back-content {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.section-popular-tours .col-1-of-3 .face.back .back-content .head,
.section-popular-tours .col-1-of-3 .face.back .back-content .price {
  font-size: 3.5rem;
  color: rgba(240, 248, 255, 0.65);
}
.section-popular-tours .col-1-of-3 .face h2 {
  text-transform: uppercase;
  color: black;
  transform: perspective(500px) translateZ(100px);
}

.section-stories {
  width: 100%;
  height: 98vh;
  position: relative;
}
.section-stories .section-stories__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.section-stories .section-stories__content .storie-cards {
  width: 40%;
  height: 80%;
}
.section-stories .section-stories__content .storie-cards .storie-card {
  -webkit-clip-path: polygon(8% 0, 100% 1%, 92% 100%, 0% 100%);
          clip-path: polygon(8% 0, 100% 1%, 92% 100%, 0% 100%);
  background-color: rgba(250, 250, 250, 0.561);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
  margin-bottom: 30px;
}
.section-stories .section-stories__content .storie-cards .storie-card .image-box {
  width: 40%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-stories .section-stories__content .storie-cards .storie-card .image-box img {
  min-width: 100px;
  max-width: 200px;
  border-radius: 50%;
}
.section-stories .section-stories__content .storie-cards .storie-card .storie-card__text {
  width: 50%;
  text-align: center;
  color: #5a5a5a;
  font-size: 2rem;
}
.section-stories .section-stories__content .storie-cards .read-more-stories {
  text-align: center;
}
.section-stories .section-stories__content .storie-cards .read-more-stories button {
  background-color: transparent;
  border: none;
  color: #28b485;
  font-size: 2.5rem;
  font-weight: 500;
}
@media only screen and (max-width: 1175px) {
  .section-stories .section-stories__content .storie-cards {
    width: 90%;
  }
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0.2;
  z-index: -1;
}
.bg-video__content {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.form__group:not(:last-child) {
  margin-bottom: 2rem;
}
.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: #f7f7f7;
  border: none;
  border-bottom: 3px solid transparent;
  display: block;
  width: 90%;
  transition: all 1s;
}
.form__input::-webkit-input-placeholder {
  color: #5a5a5a;
}
.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(131, 131, 131, 0.3);
  border-bottom: 3px solid #28b485;
}
.form__input:focus:invalid {
  border-bottom: 3px solid orange;
}
.form__label {
  font-weight: 700;
  font-size: 1.2rem;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
}
.form__input:-moz-placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}
.form__input:-ms-input-placeholder + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}
.form__radio-group {
  width: 49%;
  display: inline-block;
}
.form__radio-input {
  opacity: 0;
}
.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 5rem;
}
.form__radio-button {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border: 5px solid #28b485;
  display: inline-block;
  position: absolute;
  top: -0.4rem;
  left: 0;
}
.form__radio-button::after {
  content: "";
  display: block;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #28b485;
  opacity: 0;
}
.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1;
}

.footer {
  background-color: #333;
  padding: 20px;
}
.footer__logo-container {
  text-align: center;
}
.footer__container {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.footer__navigation {
  width: 45%;
}
.footer__copyrights {
  width: 45%;
}
.footer__copyrights p {
  font-size: 1.6rem;
  margin: 2rem 0;
}
.footer-navbar {
  display: flex;
  margin: 2rem 0;
}
.footer-navbar__item {
  list-style: none;
  margin-right: 1%;
  text-transform: uppercase;
  font-size: 1.6rem;
  margin: 5px;
}

@media screen and (max-width: 1250px) {
  .footer__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer__navigation {
    width: 100%;
  }
  .footer-navbar {
    justify-content: center;
  }
  .footer__copyrights {
    width: 100%;
  }
  .footer__copyrights p {
    text-align: justify;
    margin: 2rem 0;
  }
}
@media screen and (max-width: 660px) {
  .footer-navbar {
    flex-direction: column;
    align-items: center;
  }
}
.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  color: #f7f7f7;
}

.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.header__logo {
  height: 3.5rem;
}

.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary--main {
  font-size: 10rem;
  letter-spacing: 1rem;
  display: block;
}
.heading-primary--sub {
  font-size: 3rem;
  letter-spacing: 1.2rem;
  display: block;
  text-transform: uppercase;
}

.row {
  display: grid;
  max-width: 120rem;
  margin: 0 auto;
  gap: 4rem;
}

.column-2 {
  grid-template-columns: 1fr 1fr;
}

.column-4 {
  grid-template-columns: repeat(4, 1fr);
}

.column-3 {
  grid-template-columns: repeat(3, 1fr);
}/*# sourceMappingURL=index.css.map */