.row{
    display: grid;
    max-width: 120rem;
    margin: 0 auto;
    gap: 4rem;
    
  }
  
  .column-2{
   grid-template-columns: 1fr 1fr;
  }
  .column-4{
   
    grid-template-columns: repeat(4,1fr);
  
  }
  .column-3{
   
    grid-template-columns: repeat(3,1fr);
  
  }
  
 

