$Light-green: #7ed56f;
$Medium-green: #55c57a;
$Dark-green: #28b485;
$White: aliceblue;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #838383;
$color-grey-light-3: #5a5a5a;
$default-font-size: 1.6rem;



//post popular tours linear-gradient

$Card-one-orange: linear-gradient(to top, rgba(255, 187, 0, .5), rgba(255, 120, 48, .3));
$Card-two-green: linear-gradient(to top, rgba(21, 220, 21, 0.5), rgba(12, 195, 12, 0.3));
$Card-three-blue: linear-gradient(to top, rgba(48, 183, 246, 0.5), rgba(48, 183, 246, 0.3));