.btn--white {
  color: $color-grey-light-3;
  text-decoration: none;
  font-size: 3rem;
  background-color: $White;
  padding: 1rem 3rem;
  display: inline-block;
  border-radius: 100px;
  margin-top: 2rem;
  &:hover {
    transform: scale(1.3);
    transition: 0.6s;
  }
}

.btn--green{
  color: white;
  border: none;
  background-color: $Dark-green;
  font-size: 2rem;
  padding: 1.5rem 2rem;
  border-radius: 5px;
  

}

.btn-text {
  &:link,
  &:visited {
    color: $Dark-green;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $Dark-green;
    padding: 1rem;
    font-size: $default-font-size;
    transition: all .2s;
  }

  &:hover {
    background-color: $Dark-green;
    color: $White;
    box-shadow: 0 1rem 2rem rgba($color-grey-light-3, 0.3);
    transform: translateY(-5px);
  }

  &:active {
    box-shadow: 0 1rem 2rem rgba($color-grey-light-3, 0.3);
    transform: translateY(0);
  }
}
