.form {
    &__group:not(:last-child) {
        margin-bottom: 2rem;
    }

    &__input {
        font-size: 1.5rem;
        font-family: inherit;
        color: inherit;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: $color-grey-light-1;
        border: none;
        border-bottom: 3px solid transparent;
        display: block;
        width: 90%;
        transition: all 1s;

        &::-webkit-input-placeholder {
            color: $color-grey-light-3;
        }

        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-grey-light-2, .3);
            border-bottom: 3px solid $Dark-green;
        }

        &:focus:invalid {
            border-bottom: 3px solid orange;
        }


    }

    &__label {
        font-weight: 700;
        font-size: 1.2rem;
        margin-left: 2rem;
        margin-top: .7rem;
        display: block;
        transition: all .3s;
    }

    &__input:placeholder-shown+&__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);

    }

    &__radio-group {
        width: 49%;
        display: inline-block;
    }

    &__radio-input {
        opacity: 0;
    }

    &__radio-label {
        font-size: 1.6rem;
        cursor: pointer;
        position: relative;
        padding-left: 5rem;
    }

    &__radio-button {
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        border: 5px solid $Dark-green;
        display: inline-block;
        position: absolute;
        top: -.4rem;
        left: 0;

        &::after {
            content: "";
            display: block;
            height: 1rem;
            width: 1rem;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $Dark-green;
            opacity: 0;
        }
    }

    &__radio-input:checked~&__radio-label &__radio-button::after {
        opacity: 1;


    }

}