.footer {
    background-color: #333;
    padding: 20px;
 

    &__logo-container {
        text-align: center;
    }

    &__container {
        padding: 10px;
        display: flex;
        justify-content: space-between;
    }

    &__navigation {
        width: 45%;
    }

    &__copyrights {
        width: 45%;
        p {
            font-size: 1.6rem;
            margin: 2rem 0;
        }
    }

    &-navbar {
        display: flex;
        margin: 2rem 0;

        &__item {
            list-style: none;
            margin-right: 1%;
            text-transform: uppercase;
            font-size: 1.6rem;
            margin: 5px;

          
        }

    }
}

@media screen and (max-width:1250px) {
    .footer {

        &__container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &__navigation {
            width: 100%;


        }

        &-navbar {
            justify-content: center;
        }

        &__copyrights {
            width: 100%;

            p {
                text-align: justify;
                margin: 2rem 0;
            }
        }

    }



}

@media screen and (max-width:660px) {
    .footer-navbar {
        flex-direction: column;

        align-items: center;


    }

}