.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: -10vh;
}

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, $Dark-green, $Light-green);
}

.book {
  background-image: 
  linear-gradient( 105deg, 
                    rgba($color-grey-light-1, .9) 0%,
                    rgba($color-grey-light-1 , .9) 50%,
                    rgba($Dark-green, .1) 50% ),
                    url(../../img/nat-10.jpg);

  background-size: 100%;
  height: 50rem;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem $color-grey-light-3;

  &_form{
    width: 50%;
    padding: 3rem;
 

  }
}

